.chatbox {
    width: calc(100vw - 300px);
    height: calc(100vh - 100px);
    margin: 0 0 100px 300px;
    overflow: hidden;
    position: relative;
    font-family: 'lato', sans-serif;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll; 

    &__chat {
        display: flex;
        flex-flow: row wrap;
        align-items:  flex-start;
        margin-bottom: 15px;
        position: relative;

        &--self {
            flex-direction: row-reverse;
        }

        &--self .chatbox__message {
            background-color: #1ddced;
        }

        &--self .chatbox__author{
            right: 14px;
        }
        
        &--friend .chatbox__message {
            background-color: #1adda4;
        }

        &--friend .chatbox__author {  
            left: 14px;
        }
        
        &--admin .chatbox__message {
            background-color: #961add;
        }

        &--admin .chatbox__author {  
            left: 14px;
        }

        &--system .chatbox__message {
            background-color: #961add;
        }

        &--system .chatbox__author {  
            left: 14px;
        }

    }
    &__message {
        width: auto;
        min-width: 200px;
        max-width: 50%;
        padding: 15px;
        margin: 0px 10px 0;
        border-radius: 4px;
        color: #fff;
        font-size: 20px;
        word-wrap: break-word;
    }
    &__author {
        position: absolute;
        bottom: -15px;
        color: #fff;
        font-size: 12px;
        white-space:nowrap;
    }
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: darken(#1ddced, 30%)
    }
}
.chat-form {
    bottom: 0;
    right: 0;
    height: 100px;
    width: calc(100% - 300px);
    position: absolute;
    background-color: $first-color;
    padding: 30px 15px;

    & form {
        position: absolute;
        height: 40px;
        width: calc(100% - 30px);
        white-space: nowrap;
    }

    &__text {
        height: 40px;
        width: 45%;
        min-width: 300px;
        resize: none;
        position: absolute;
        padding: 10px;
        border: none;
        font-size: 20px;
        color: #fff;
        background-color: $background-color;

        &::-webkit-scrollbar {
            display: none;
        }
        &::placeholder {
            color: #979797;
        }

        &:placeholder-shown + .chat-form__submit{
            background-color: #7c7c7c;
        }
    }

    &__submit {
        position: absolute;

        margin: 0;
        margin-left: calc(45% + 20px);
        height: 40px;
        width: auto;
        padding: 10px;
        border: none;

        font-size: 18px;
        background-color: $third-color;
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        transition: all .2s;
        cursor: pointer;
        
        &:active {
            transform: scale(.98);
        }

        @media only screen and (max-width: 1000px) {
            margin-left: 320px;
        }
    }

    &__switch {
        position: absolute;

        width: auto;
        height: 40px;

        font-size: 30px;
        padding: 5px;
        background-color: $second-color;
        color: #fff;

        cursor: pointer;
        border: 0;
        right: 30px;

        &:active {
            transform: scale(.98);
        }
    }
}