.chatroom {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    font-family: 'lato', sans-serif;
    &__left {
        background-color: #153941;
        width: 300px;
        height: 100%;
        position: fixed;
    }

    &__time {
        margin: 15px 15px 0 15px;
        width: calc(100% - (2*15px));
        height: 25px;
        background-color: #1F5754;
        color: #fff;
        font-size: 1.8rem;
        padding: 1px 5px 0 5px;
        position: relative;

        &__date {
            display: block;
            position: absolute;
        }

        &__clock {
            position: absolute;
            right: 5px;
            display: block;
        }
    }
    &__current-channel {
        background-color: #1F5754;
        color: #fff;
        font-size: 1.8rem;
        display: block;
        width: auto;
        text-align: center;
        margin: 30px 15px 0 15px;
        padding: 1px 5px 0 5px;
    }
}