.chatroom {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    font-family: 'lato', sans-serif;
    &__left {
        background-color: #153941;
        width: 300px;
        height: 100%;
        position: fixed;
    }

    &__time {
        margin: 15px 15px 0 15px;
        width: calc(100% - (2*15px));
        height: 25px;
        background-color: #1F5754;
        color: #fff;
        font-size: 1.8rem;
        padding: 1px 5px 0 5px;
        position: relative;

        &__date {
            display: block;
            position: absolute;
        }

        &__clock {
            position: absolute;
            right: 5px;
            display: block;
        }
    }
    &__current-channel {
        background-color: #1F5754;
        color: #fff;
        font-size: 1.8rem;
        display: block;
        width: auto;
        text-align: center;
        margin: 30px 15px 0 15px;
        padding: 1px 5px 0 5px;
    }
}

.chatbox {
    width: calc(100vw - 300px);
    height: calc(100vh - 100px);
    margin: 0 0 100px 300px;
    overflow: hidden;
    position: relative;
    font-family: 'lato', sans-serif;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll; 

    &__chat {
        display: flex;
        flex-flow: row wrap;
        align-items:  flex-start;
        margin-bottom: 15px;
        position: relative;

        &--self {
            flex-direction: row-reverse;
        }

        &--self .chatbox__message {
            background-color: #1ddced;
        }

        &--self .chatbox__author{
            right: 14px;
        }
        
        &--friend .chatbox__message {
            background-color: #1adda4;
        }

        &--friend .chatbox__author {  
            left: 14px;
        }

    }
    &__message {
        width: auto;
        min-width: 200px;
        max-width: 50%;
        padding: 15px;
        margin: 0px 10px 0;
        border-radius: 4px;
        color: #fff;
        font-size: 20px;
        word-wrap: break-word;
    }
    &__author {
        position: absolute;
        bottom: -15px;
        color: #fff;
        font-size: 12px;
        white-space:nowrap;
    }
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: darken(#1ddced, 30%)
    }
}
.chat-form {
    bottom: 0;
    right: 0;
    height: 100px;
    width: calc(100% - 300px);
    position: absolute;
    background-color: $first-color;
    padding: 30px 15px;
    & form {
        position: absolute;
        height: 40px;
        width: calc(100% - 30px);
    }
    
    &__submit {
        margin-left: 20px;
        background-color: $third-color;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        border: none;
        height: 40px;
        width: auto;
        padding: 10px;
        transition: all .2s;
        cursor: pointer;
        &:active {
            transform: scale(.98);
        }
    }

    &__text {
        height: 100%;
        background-color: $background-color;
        color: #fff;
        font-size: 18px;
        border: none;
        padding: 10px;
        width: 40%;
        min-width: 250px;
        resize: none;
        &::placeholder {
            color: #979797;
        }

        &:placeholder-shown + .chat-form__submit{
            background-color: #7c7c7c;
        }
    }
}